.collection{
    margin-top: 180px;

    display: grid;
    grid-gap: 32px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "title element1"
        "carrousel element2"
        "carrousel element3";

    &__title{
        grid-area: title;
    }

    &__carrousel{
        position: relative;
        grid-area: carrousel;
        width: fit-content;
        height: fit-content;
        user-select: none;

        img{
            width: 600px;
            height: 600px;
            object-fit: cover;
            border-radius: 25px;
        }

        &__arrow{
            display: flex;
            align-items: center;
            
            position: absolute;
            right: 0;
            bottom: -37px;
            z-index: 1000;

            button{
                width: 74px;
                height: 74px;
                font-size: 20px;
                &:first-child{
                    background: white;
                    color: $rose;
                }
                &:nth-child(2){
                    background: $rose;
                    color: white;
                }
            }
        }
    }
    &__right__element{
        height: auto;

        display: flex;
        align-items: flex-end;

        &__image{
            display: inline-table;
            width: 260px;
            height: 260px;
            overflow: hidden;
            border-radius: 10px;

            img{
                width: 260px;
                height: 260px;
                object-fit: cover;
                transition: transform .5s, filter 1s ease-in-out;
                filter: blur(1px);
                transform: scale(1.2);
            }

            &:hover img{
                filter: blur(0);
                transform: scale(1);
            }
        }

        &.element-{
            &1{
                grid-area: element1;
            }
            &2{
                grid-area: element2;
            }
            &3{
                grid-area: element3;
            }
        }

        

        &__content{
            margin-bottom: 10px;
            margin-left: 25px;

            h3{
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            span{
                font-weight: 400;
                font-size: 18px;
                line-height: 140%;
                display: block;
                margin-bottom: 10px;
                width: 70%;
            }
            
            a{
                font-weight: bold;
                i{
                    margin-left: 10px;
                    transition: margin-left .5s ease;
                }

                &:hover{
                    i{
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}