@keyframes top {
    0% {
        transform: translateY(-30px) scale(1.02);
        opacity: 0 
    }

    100% {
        opacity: 1;
        transform: none
    }
}
@keyframes left {
    0% {
        transform: translateX(-30px);
        opacity: 0
    }

    100% {
        opacity: 1;
        transform: none
    }
}
@keyframes right {
    0% {
        transform: translateX(30px);
        opacity: 0
    }

    100% {
        opacity: 1;
        transform: none
    }
}