// Style créé par Loubal70

// Fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap');

// Reset CSS
@import 'reset.scss';

:root {
    --delay: 0s;
}

// Colors
$rose: #EE747E;
$rose_fonce: #cb4f59;
$rose_clair: rgb(255, 217, 220);


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body{
    background-color: #F7F3F0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.p-relative{
    position: relative;
    display: block;
}

a{
    color: black;
    transition: color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover{
        color: $rose;
    }

    &.btn{
        background-color: $rose;
        color: white;
        padding: 12px 30px;
        border-radius: 40px;
        transition: background-color .5s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover{
            background-color: $rose_fonce;
        }
    }
}


.container{
    max-width: 1240px;
    margin: auto;
}

h1{
    font-size: 37px;
    font-weight: 600;
    margin-bottom: 20px;
    width: 80%;
}

@import 'component/header.scss';

// Sections
section{
    span.category{
        color: $rose;
        font-size: 20px;
        font-weight: 700;

        display: inline-block;
        margin-bottom: 20px;
    }

    .details{
        margin-top: 60px;
    }

    p{
        font-size: 16px;
        line-height: 175%;
    }
}
@import 'section/product.scss';
@import 'section/artisan.scss';
@import 'section/collection.scss';