.header{
    
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
    }

    &__left, &__right{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__element a:not(.p-relative){
            display: flex;
            align-items: center;
            justify-content: space-between;

            img{ // Svg Picto
                width: 20px;
                height: 26px;
                margin-right: 15px;
            }
        }
    }

    &__left{
        &__element{
            &:last-child{
                margin-left: 75px;
            }
        }
    }

    &__right{
        &__element{
            &:last-child{
                margin-left: 15px;
                
                span{
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    background: $rose;
                    color: white;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    text-align: center;
                    font-size: 12px;
                    font-weight: bold;
                    line-height: 1.7;
                }
            }
        }
    }

    // Navbar
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 50px;
        padding: 20px 0;
        border: 1px solid #DBDBDB;
        border-width: 1px 0 1px 0;

        a{
            text-align: center;

            &:first-child, &:nth-child(2), &:nth-child(3){
                
                &:after {
                    border-style: solid;
                    border-width: 0.05em 0.05em 0 0;
                    content: '';
                    display: inline-block;
                    height: 0.45em;
                    left: 0.15em;
                    position: relative;
                    top: 0.25em;
                    left: 1em;
                    transform: rotate(-45deg);
                    vertical-align: top;
                    width: 0.45em;
                    transform: rotate(135deg);
                }

            }

            &:last-child{
                font-weight: bold;
                color: $rose;
            }
        }
    }

    
}